/* @import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
* {
  box-sizing: border-box;
}
body {
background-color: #89CFF0;
background-image: linear-gradient(147deg, #0066b2 0%, #6699CC 74%);
min-height: 100vh;
font-family: 'Fira Sans', sans-serif;

} */

header .header{
  background-color: #fff;
  height: 45px;



}

/* header a img{
  width: 134px;
margin-top: 4px;
} */
.summarize-page {
  width: auto;
  padding: 1% 0 0;
  margin: auto;
}
.summarize-page .form .summarize{
  margin-top: -31px;
margin-bottom: 26px;
}
.form {
  position: relative;
  z-index: 1;
  border-radius: 20px;
  /* background: #FFFFFF; */
  max-width: 700px;
  height: 700px;
  margin: 0 auto 10px;
  padding: 45px;
  text-align: center;
  /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); */
  /* border: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(45deg,	#F0F8FF);
  color:black;
  border-radius: 20px;
  opacity: 90%; */
}

.form textarea {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  border-radius: 20px;
  width: 100%;
  height:400px;
  text-indent: 0;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid #0066b2;
  box-shadow: 0 0 0 0.2rem rgba(108, 169, 230, 0.25);
  font-size: 15px;
  text-align: justify;
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: white;
    width: 100%;
    height:40px;
    text-indent: 0;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 15px;
    text-align: justify;
  }
  .btn-card {
    background-image: linear-gradient(147deg, #0066b2,	#F0F8FF);
    padding: 15px 25px;
    border-radius: 50px;
    color: #00308F;
    
    /* box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4); */
    text-decoration: none;
    font-weight: 500;
    justify-content: center;
    text-align: center;
    letter-spacing: 1px;
    border:none;
    transition: transform 0.3s ease-in-out;
 
  }
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background-image: linear-gradient(147deg, #3586c4,	#F0F8FF);
  padding: 15px 25px;
  border-radius: 50px;
  color: #00308F;
  width: 50%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: transform 0.3s ease-in-out;
  transition: all 0.3 ease;
  cursor: pointer;
  
}
.form button:hover{
  transform: translateX(10px);
}

input[type="button"]{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  text-align: center;
  outline: 0;
  background-color: black;
  background-image: linear-gradient(147deg, #0066b2 0%, #6699CC 74%);
  width: 50%;
  border: 0;
  padding: 12px 24px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.button-container {
  display: flex;
  flex-wrap: wrap;
}
.button-container .part-1 {
  flex: 2;
}

.button-container .part-2 {
  flex: 1;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: black;
  text-decoration: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}


.card-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }
    .mb-4 {
      margin-bottom: 1.5rem !important;
    }
    
    .card {
      border: none;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      /* background-image: linear-gradient(45deg,black,	#36454F); */
    }
    
    
 
    .card-title {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 10px;
    }
    
    .card-text {
      font-size: 16px;
      margin-bottom: 10px;
    }
    

    .card-body a{
      color: white;
  
    }
    
    /* .btn-card:hover {
        background-image: linear-gradient(45deg,lightblue,	white);
      color: black;
      text-decoration: none;
    }
     */
  