@import url(https://fonts.googleapis.com/css?family=Roboto:300);
header .header{
  background-color: #fff;
  height: 45px;
}
header a img{
  width: 134px;
margin-top: 4px;
}
.summarize-page {
  width: auto;
  padding: 1% 0 0;
  margin: auto;
}
.summarize-page .form .summarize{
  margin-top: -31px;
margin-bottom: 26px;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 700px;
  margin: 0 auto 10px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form textarea {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  height:400px;
  text-indent: 0;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 15px;
  text-align: justify;
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: white;
    width: 100%;
    height:40px;
    text-indent: 0;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 15px;
    text-align: justify;
  }
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background-color: black;
  background-image: linear-gradient(45deg,black,	#36454F);
  width: 50%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
input[type="button"]{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  text-align: center;
  outline: 0;
  background-color: black;
  background-image: linear-gradient(45deg,black,	#36454F);
  width: 50%;
  border: 0;
  padding: 12px 24px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.button-container {
  display: flex;
  flex-wrap: wrap;
}
.button-container .part-1 {
  flex: 2;
}

.button-container .part-2 {
  flex: 1;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: black;
  text-decoration: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

body {
  background-color: black !important;
  background-image: linear-gradient(45deg,black,	#36454F) !important;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.card-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }
    .mb-4 {
      margin-bottom: 1.5rem !important;
    }
    
    .card {
      border: none;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      /* background-image: linear-gradient(45deg,black,	#36454F); */
    }
    
    
 
    .card-title {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 10px;
    }
    
    .card-text {
      font-size: 16px;
      margin-bottom: 10px;
    }
    
    .btn-card {
        background-image: linear-gradient(45deg,black,	#36454F);
      border-radius: 10px;
      padding: 10px;
      color: white;
   
    }

    .card-body a{
      color: white;
  
    }
    
    .btn-card:hover {
        background-image: linear-gradient(45deg,lightblue,	white);
      color: black;
      text-decoration: none;
    }
    
  