<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script> 
    
    <title>Summarizer</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home.css'%}">
</head>
<body>
  {% include 'navbar.html' %}

  {% for document in data %}
  <div class="card-group">
    <div class="card text-white m-3">
      <div class="card-body">
        <h5 class="card-title">{{document.Title}}</h5>
        <p class="card-text">{{document.Content | truncatewords:30}}</p>
        <button onclick="window.location='/summarypage/{{ document.slug}}/'" class="btn-card">Read More</button>
      </div>
    </div>
  </div>
  {% endfor %}
  <!-- {% for document in data %}
  <div class="card-group">
    <div class="card text-white m-3">
      <div class="card-body">
        <h5 class="card-title">{{document.Title}}</h5>
        <p class="card-text">{{document.Content | truncatewords:30}}</p>
        <button onclick="location.href='/summarypage?title={{ document.Title }}&content={{ document.Content }}'" class="btn-card">Read More</button>
      </div>
    </div>
  </div>
  {% endfor %} -->







 
      
</body>
</html>