<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
  <!-- Default theme -->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
    
    <title>Summarizer</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'navbar.css'%}">
</head>
<body>

  {% csrf_token %}
    <div class="nav">
        <input type="checkbox" id="nav-check">
        <div class="nav-header">
          <div class="nav-title">
            logo
          </div>
        </div>
        <div class="nav-btn">
          <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
          </label>
        </div>
        
        
        <div class="nav-links">
          <a href="{% url 'home' %}" >Home</a>
          <a href="{% url 'summarypageown' %}">Summarizer</a>
          {% if user.is_authenticated %}
          <a href="{% url 'home' %}">Hi, {{ user.username }}</a>
          <a href="{% url 'logout' %}">Logout</a>
          {% else %}
          
          <a href="{% url 'login' %}">Login</a>
          {% endif %}
          
        </div>
      </div>
<!-- js link for altertify -->
      <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
      <script>
        {% for msg in messages %}
         alertify.set('notifier','position', 'top-center');
         alertify.success('{{msg}}');
         {% endfor %}
      </script>
      
</body>
</html>