
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summarizer</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'register.css'%}">
</head>
<body>
  {% include 'navbar.html' %}
  {% block content %}  


 
    <div class="login-page">
        <div class="form">
          <div class="login">
            <div class="login-header">
              <h3>Register Here!!</h3>
              <p>Please enter your details to register.</p>
            </div>
          </div>
          <form class="login-form" method="POST">
            {% csrf_token %}
          
            <!-- validations bakiii!!! -->
            <input type="text" placeholder="Your Name" name="username"/>
            <input type="email" placeholder="Email" name="email"/>
            <input type="password" placeholder="Password" name="password"/>
            <input type="password" placeholder="Repeat your password" name="password_repeat"/>
            <!-- <button>Register</button> -->
            <input type="submit"  value="Register" style="background-image: linear-gradient(45deg,black,	#36454F); color: white; cursor: pointer;"/>
            {% if error_message %}
            <div id="error_message" style="display: none;">{{ error_message }}</div>
        {% endif %}
            <!-- {% if messages %}
            <ul class="messages">
              {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %} -->
            <p class="message">Already registered? <a href="{% url 'login' %}">Login</a></p>
          </form>
          {% endblock %}
        </div>
      </div>
      <script>
        var errorMessage = document.getElementById('database-error');
        if (errorMessage) {
            alertify.alert(errorMessage.innerText);
        }
    </script>
</body>
</html>
