<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'summarizepage.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>summarize</title>
</head>
<body>
  {% include 'navbar.html' %}
      <div class="summarize-page" >
      <div class="row" >
        <!-- 1st section -->
        <div class="col-sm-6">
            <div class="form" class="col-md-6">
             
                <!-- correct one -->
                <form  method="post" action="{% url 'summary' %}">
                  {% csrf_token %}
                  <div class="Summarize">
                    <div class="header">
                      <h3 id="myHeading" name="heading">{{summarypage.Title}}</h3>
                      <textarea id="id" name="id" style="visibility: hidden; height: 0;">{{id}}</textarea>
                    </div>
                  </div>
                    <textarea id="myTextarea" name="text">{{summarypage.Content}} {{text}}</textarea>
                    
                  <button id="my-button" type="submit" onclick="sendText()" >Summarize</button>
                </form>

                <!-- trying -->
                <!-- <form method="POST" action="{% url 'summary' %}">
                  {% csrf_token %}
                  <textarea id="myTextarea" name="text">{{summarypage.Content}}</textarea>
                    
                  <button type="submit" onclick="sendText()">Summarize</button>
              </form> -->
              <!-- upto here -->
              </div>
        </div>
        <div class="col-sm-6">
          <div class="form" class="col-md-6">
      
            <form method="POST">
              {% csrf_token %}
              <div class="Summarize">
                <div class="header">
                  <h4>Your summary for </h4>
                  
                </div>
              </div>
                <textarea>{{prediction}}</textarea>
                <p>Labels:</p>
                <input type="text"/>
             
             
              
            </form>
          </div>
            
        </div>
      </div>
    </div>
    <div class="container">
      <h2 style="color:white"><i>Recommendations</i></h2>
      <div class="row">
        {% csrf_token %}
        {% for item in recommendation %}
        <div class="col-md-4">
          <div class="card  m-2">
            <div class="card-body">
              <h5 class="card-title">{{ item.Title | truncatewords:5 }}</h5>
              <p class="card-text">{{ item.Content | truncatewords:10 }}</p>
              <button>Read More</button>
            </div>
          </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
      </div>
      <div class="row">
        {% endif %}
        {% endfor %}
      </div>
    </div>
  
  
    </div>
    <script>
      function sendText() {
        var text = document.getElementById("myTextarea").value;
        var id = document.getElementById("id").value;
        const headingText = document.getElementById("myHeading").textContent;
        // Send the text to the views.py page using AJAX
        var xhr = new XMLHttpRequest();
        const xhr = new XMLHttpRequest();
        xhr.open("POST", "{% url 'summary' %}");
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.send("text=" + text,"id="+id);
       
      }


  </script>
</body>
</html>