<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'summarizepage.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>ArticleExplorer</title>
</head>
<body>
  {% include 'navbar.html' %}
      <div class="summarize-page" >
      <div class="row" >
        <!-- 1st section -->
        <div class="col-sm-6">
            <div class="form" class="col-md-6">
                <div class="Summarize">
                  <div class="header">
                    <h3 style="color: white;">Upload Your text document here!!!</h3>
                 
                  </div>
                </div>
                <form method="POST">
                  {% csrf_token %}
                    <!-- <textarea >{{summarypage.Content}}</textarea> -->
                    <textarea id="file-text" name="file_text">{{text}}</textarea>
                 
                    <!-- {{ summarypage|pprint }}  -->
                    <!-- upload and summary button -->
                    <div class="button_container">
                        <div class="row">
                          <div class="col">
                        <div class="part-1">
                        <form action="/upload" method="post" enctype="multipart/form-data">
                        
                          <input type="file" id="file-upload" name="file-upload" style="background: none; margin-top: -10px;">
                          <input type="button" value="Upload" onclick="getFileText()" style="background-image: linear-gradient(147deg, #3586c4,	#F0F8FF); border-radius: 50px;">
                        </form>
                        </div>
                      </div>
                      <div class="col">
                        <div class="part-2">
                        <button type="submit" onClick="sendText()">Summarize</button>
                      </div>
                    </div>
                      </div>
                  </div>
                </form>
              </div>
        </div>
        <div class="col-sm-6">
          <div class="form" class="col-md-6">
            <div class="Summarize">
              <div class="header">
                <h4 style="color: white;">Your summary</h4>
                
              </div>
            </div>
            <form>
              {% csrf_token %}
                <textarea>{{prediction}}</textarea>
                <!-- <p>Labels:{{classify}}</p> -->
                <!-- <input type="text"/> -->
             
             
              
            </form>
          </div>
            
        </div>
      </div>
    </div>

    </div>
    <script>
      function getFileText() {
        var fileInput = document.getElementById("file-upload");
        var file = fileInput.files[0];
        var reader = new FileReader();
        reader.onload = function() {
          var fileText = reader.result;
          document.getElementById("file-text").value = fileText;
        };
        reader.readAsText(file);
      }

      function sendText() {
        var file_text = document.getElementById("file-text").value;

        // Send the text to the views.py page using AJAX
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "{% url 'summarypageown' %}");
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.send("file_text=" + file_text);
      }
      </script>
</body>
</html>